#adicao {
    background: black;
    border-radius: 25px;
    color: white;
}

#adicao input:focus {
    border-color: var(--purpleHover);
} 

#adicao h2 {
    border: 2px solid var(--secundary-color);
    display: inline;
    padding: 5px 11px;
    border-radius: 10px;
    background: var(--tertiary-color);
    color: var(--secundary-color);
    transition: 0.5s;
}

#adicao h2:hover {
    padding: 9px 13px;
    transition: 0.5s;
    border: 2px solid var(--tertiary-color);
}

#adicao .formAdicao {
    margin-top: 25px;
    width: 500px;
}

.formAdicao label {
    font-weight: bold;
    font-size: 20px;
}